<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> 

{% load staticfiles %}
<html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>TEAM SHARON</title>
       
        <link rel="stylesheet" href='{% static "css/main.css" %}'>
		<script src='{% static "js/jquery.min.js" %}'></script>
		<script src='{% static "js/SuperheroesAndStuff-jquery.js" %}'></script>
		
        <!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>-->

    </head>
    <body>
		<div id="header">
			<h1>Team Sharon</h1>
		</div>
		<div id="wrapper">
			<div id="list_bar">
				<button class="list" id="close_button">X</button>
				<button class="list" id="delete_button">D</button>
				<button class="list" id="update_button">U</button>
			</div>
			<div id="side_bar">
				<div class="filter">
					<h3>#Spiderman</h3>
				</div>
				<div class="filter">
					<h3>#Hulk</h3>
				</div>
			</div>
			<button id="reset">Reset?</button>
			<div id="content">
				<!--<div class="container">
					<img src='/static/images/spiderman.jpg'></img>
				</div>-->
				<div class="category no_op" id="update_cat">
					<div class="title_box">
						<h3>Update</h3>
					</div>
					<form class="type_box">
						<div class="option_text">
							<p>Movie</p>
							<p>Revenue</p>
						</div>
						<div class="option_input" style="width: 150px; margin-right: 0px">
							<input type="text" id="u_movie" class="text_input"></input>
							<input type="text" id="revenue" class="text_input"></input>
						</div>
					</form>
					<button class="submit_button" id="update_submit">Submit</button>
				</div>
				<div class="category no_op" id="delete_cat">
					<div class="title_box">
						<h3>Delete</h3>
					</div>
					<form class="type_box">
						<div class="option_text">
							<p>Creator</p>
							<p>Character from Media</p>
						</div>
						<div class="option_input">
							<input type="text" id="d_creator" class="text_input"></input>
							<input type="text" id="d_cname" class="text_input"></input>
						</div>
					</form>
					<button class="submit_button" id="delete_submit">Submit</button>
				</div>				
				<div class="category">
					<div class="title_box">
						<h3>Character</h3>
					</div>
					<form class="checkbox_box" style="width: 150px; margin-right: 75px">
						<input type="checkbox" id="cname" class="checkbox" style="margin-bottom:5px">Name</input>
						<input type="checkbox" id="species" class="checkbox" style="margin-bottom:5px">Species</input>
						<input type="checkbox" id="origin" class="checkbox" style="margin-bottom:5px">Origin</input>
						<input type="checkbox" id="aname" class="checkbox" style="margin-bottom:5px">Act. Name</input>
						<input type="checkbox" id="powerc" class="checkbox" style="margin-bottom:5px">Power</input>
					</form>
					<form class="type_box">
						<div class="option_text">
							<p>Power</p>
							<p>Creator</p>
							<p>Directed by:</p>
						</div>
						<div class="option_input">
							<input type="text" id="power" class="text_input"></input>
							<input type="text" id="creator" class="text_input"></input>
							<input type="text" id="director" class="text_input"></input>
						</div>
					</form>
					<button class="submit_button" id="character_submit">Submit</button>
				</div>
				<div class="category">
					<div class="title_box">
						<h3>Movies</h3>
					</div>
					<form class="checkbox_box">
						<input type="checkbox" id="m_name" class="checkbox">Name</input>
						<input type="checkbox" id="total_rev" class="checkbox">Total Revenue</input>
						<input type="checkbox" id="avg_rev" class="checkbox">Average Revenue</input>
					</form>
					<form class="type_box">
						<div class="option_text">
							<p>Including name:</p>
							<p>Name is exactly:</p>
						</div>
						<div class="option_input">
							<input type="text" id="miname" class="text_input"></input>
							<input type="text" id="mename" class="text_input"></input>
						</div>
					</form>
					<button class="submit_button" id="movie_submit">Submit</button>
				</div>
				<div class="category">
					<div class="title_box">
						<h3>Book</h3>
					</div>
					<form class="checkbox_box">
						<input type="checkbox" id="bcount" class="checkbox">Count</input>
					</form>
					<form class="type_box">
						<div class="option_text">
							<p>With more than X Characters:</p>
						</div>
						<div class="option_input">
							<input type="text" id="greater_than" class="text_input"></input>
						</div>
					</form>
					<button class="submit_button" id="book_submit">Submit</button>
				</div>
			</div>
		</div>
    </body>
</html>