<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> 

{% load staticfiles %}
<html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>TEAM SHARON</title>
       
        <link rel="stylesheet" href='{% static "css/main.css" %}'>
		<script src='{% static "js/jquery.min.js" %}'></script>
		<script src='{% static "js/SuperheroesAndStuff-jquery.js" %}'></script>
		
        <!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>-->

    </head>
    <body>
		<div id="header">
			<h1>Team Sharon</h1>
		</div>
		<div id="wrapper">
			<div id="list_bar">
				<button class="list">
				</button>
				<button class="list">
				</button>
				<button class="list">
				</button>
			</div>
			<div id="side_bar">
				<div class="filter">
					<h3>#Spiderman</h3>
				</div>
				<div class="filter">
					<h3>#Hulk</h3>
				</div>
			</div>
			<div id="content">
				<!--<div class="container">
					<img src='{%static "images/spiderman.jpg" %}'></img>
				</div>-->
				<div class="catagory">
					<div class="title_box">
					<h3>Character</h3>
					</div>
					<div class="checkbox_box">
					</div>
					<div class="type_box">
					</div>
				</div>
			</div>
		</div>
    </body>
</html>